.card-container{
    width: 120px;
    height: 170px;
    cursor: pointer;
    z-index: 98;
    padding: 5%;
    box-sizing: border-box;
}

.card{
    width: 100%;
    object-fit: cover;
}

@media (max-width: 750px) {
  .card-container {    
  width: 60px;
  height: 90px;
  cursor: pointer;
  z-index: 98;
  padding: 5%;
  box-sizing: border-box;
}
.card {
 width: 100%;
 height: 100%;
}
}


