.card {
  display: flex;
  justify-content: center;
  min-width: 110px;
  height: 165px;
  vertical-align: top;
  cursor: pointer;
  margin: 2px;
}

.card .not-opened {
background-image:url(../assets/miniCardR.png);
 width: 110px;
 height:165px;
}

.card.matched {
  cursor: default;
}

.card img {
  display: flex;
  width: 90%;
  height: 95%;
}
