@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

.Gameboard{
   z-index: 98;
   position: relative;
   display: grid;
   grid-template-columns:repeat(6,110px);
   justify-content: center;
    gap: 0.5rem; 
   top: 7vh;    
}
.pairMatched{
   z-index: 98;
   display:flex;
   justify-content: center;
   font-family: 'Cinzel', serif;
   font-size: 2rem;
   font-weight: bold;
}

.ModalWin{
   background-color: rgb(228, 212, 168);
   border-radius: 10%;
   border: solid 0.35em #e1c264;
   height: auto;
   width: 500px;
   position: relative;
   padding: 25px;
   z-index: 999;
   left: 30vw;
   bottom: 15vh;
   height: 200px;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.button{
   border: 1px solid rgb(119, 119, 119);
   border-radius: .2em;
   cursor: pointer;
   color: rgb(24, 26, 27);
   padding: .5em 2em .5em .9em;
   font-family: 'Cinzel', serif;
   font-size: 1em;
   margin:15px;
   background-color: rgb(223, 223, 223);
   font-weight: bold;
}

.Win{
   text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Cinzel", serif;
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 750px) {
   .Gameboard {
      position: relative;
      bottom:30vh;
      gap:0.8rem;
      grid-template-columns:repeat(6,45px);
      margin-right: 20px;
      z-index: 99;
      filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.589));
   }

.pairMatched{
   z-index: 98;
   display:flex;
   justify-content: center;
   font-family: 'Cinzel', serif;
   font-size: 1rem;
   font-weight: bold;
   text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
   color: rgb(255, 255, 255);
}

.ModalWin{
   background-color: rgb(228, 212, 168);
   border-radius: 10%;
   border: solid 0.35em #e1c264;
   height: auto;
   width: 315px;
   position: relative;
   padding: 25px;
   z-index: 999;
   height: 130px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   left:initial;
   top:3vh;
}
.button{
   border: 1px solid rgb(119, 119, 119);
   border-radius: .2em;
   cursor: pointer;
   color: rgb(24, 26, 27);
   font-family: 'Cinzel', serif;
   font-size: 1em;
   margin:5px;
   background-color: rgb(223, 223, 223);
   font-weight: bold;
}

.Win{
   text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Cinzel", serif;
    font-size: 1rem;
    font-weight: bold;
}
}