.playfield {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto,1vh);
  gap: 5px;
  justify-content: center;
  align-items: center;
  z-index: 95;
  transform: translateY(-200px);
  max-width: 45vw;
  max-height: 40vh;
}

.plateau{
  display: flex;
 justify-content: center;
  
}
.statistics{

  display: flex;
  justify-content: center;
  z-index: 95;
  transform: translateY(-250px);
  font-size: large;
}


