@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.header{
    max-height: 500px;
}

.Baniere{
    height: 90vh;
    width: 100vw;
    z-index: -1;
}

.logo{
    transform: translateY(-94vh);
    z-index: 98;
    width: 29vw ;
    height: 45vh;
}

.rulesButton{
    transform: translateY(-125vh);
    z-index: 98;
    width: 5vw ;
    height: 5vh;
    position: relative;
    left: 85vw
}

#rules{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: solid 0.1em;
    border-color: #e1c264;
    background-color: darkred;
    font-size: 1.3em;
    color: #e1c264;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    font-family: "Cinzel", serif;
}