@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

.header{
    max-height: 300px;
}

.Baniere{
    height: 100vh;
    width: 99vw;
    z-index: -1;
}

.logo{
    position: relative;
    bottom: 110vh;
    height: 60vh;
    width: 35vw;
}


.rulesButton{
    position: relative;
    bottom: 150vh;
    left: 85vw;
    max-width: 60px;
}

#rules{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: solid 0.1em;
    border-color: #e1c264;
    background-color:rgb(228, 212, 168);
    font-size: 1.3em;
    color: #e1c264;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    font-family: "Cinzel", serif;
    cursor: pointer;
}

#rules:hover {
    opacity: 0.3;
}

.isOpened {
    width: 80px;
    height: 80px;
    background-image: url("../assets/logo-close.png");
    background-size: 100%;
    align-self: flex-start;
}

.notOpened {
    width: 80px;
    height: 80px;
    background-image: url("../assets/logo-close.png");
    background-size: 100%;
    align-self: flex-start;
}

.contenu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50%;
}

.modal {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Cinzel", serif;
    max-width: 60px;
}

.modal-content {
    background-color: rgb(228, 212, 168);
    border-radius: 10%;
    border: solid 0.35em #e1c264;
    height: auto;
    width: 500px;
    position: relative;
    padding: 25px;
    right: 53vw;
    z-index: 999;
}

#card-button {
    margin: auto;
    cursor: pointer;
}

#card-button:hover {
opacity: 0.3;
}

@media (max-width: 750px) {
    body {
        background-image: url(../assets/backgroundMobile.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .Baniere {
      display: none;
    }
    .rulesButton {
        display: none;
    }
    .bannerFlex {
     max-height:190px;
     background-image: url("../assets/logo.png");
     background-position: top;
     background-repeat: no-repeat;
     background-size: 80%;
    }
}