@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

.home{
    position: relative;
    z-index: 98;
    top: 20vh;
}
.menu-play{
    display: flex;
    justify-content: center;
}

.input-pseudo {
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    color: rgb(70, 81, 88);
    padding: .5em 2em .5em .9em;
    font-family: 'Cinzel', serif;
    font-size: 1em;
}

.btn-submit {
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    cursor: pointer;
    color: rgb(70, 81, 88);
    padding: .5em 2em .5em .9em;
    font-family: 'Cinzel', serif;
    font-size: 1em;
}


.play-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.select-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.browser-default {
   border: 1px solid rgb(207, 210, 219);
   border-radius: .2em;
   cursor: pointer;
   color: rgb(70, 81, 88);
   padding: .5em 2em .5em .9em;
   font-family: 'Cinzel', serif;
   font-size: 1em;
}

.btn-play {
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    cursor: pointer;
    color: rgb(70, 81, 88);
    padding: .5em 2em .5em .9em;
    font-family: 'Cinzel', serif;
    font-size: 1em;
    text-align: center;
}

.side-camp{
    margin-bottom: 100px;
}

.title-camp {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;  
}

.side-select-btn {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}   

.btn-roman {
    font-family: 'Cinzel', serif;
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    cursor: pointer;
    color: rgb(70, 81, 88);
    padding: .5em 2em .5em .9em;
    font-size: 1em;
    text-align: center;
    grid-row: 1 / 2;
}

.btn-egypt {
    font-family: 'Cinzel', serif;
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    cursor: pointer;
    color: rgb(70, 81, 88);
    padding: .5em 2em .5em .9em;
    font-size: 1em;
    text-align: center;
}

.btn-roman-clicked {
    font-family: 'Cinzel', serif;
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: .5em 2em .5em .9em;
    font-size: 1em;
    text-align: center;
    grid-row: 1 / 2;
    background-color: rgb(104, 4, 4);
}

.btn-egypt-clicked {
    font-family: 'Cinzel', serif;
    border: 1px solid rgb(207, 210, 219);
    border-radius: .2em;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: .5em 2em .5em .9em;
    font-size: 1em;
    text-align: center;
    grid-row: 1 / 2;
    background-color: rgb(23, 21, 114);
}